<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298887553130-dm98uaeua1na8ts0uabiscocakg0phoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298887553130-dm98uaeua1na8ts0uabiscocakg0phoh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>298887553130-8sdc3ooqkdgj6tqoso43iivtahtn51ur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnnr1lDqoKlt4NA6Cdw8sGcVjNc5BSe8c</string>
	<key>GCM_SENDER_ID</key>
	<string>298887553130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zmeul.spaco</string>
	<key>PROJECT_ID</key>
	<string>spaco-ab667</string>
	<key>STORAGE_BUCKET</key>
	<string>spaco-ab667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298887553130:ios:137b7da677cfeb7435ea13</string>
</dict>
</plist>